.dirs-container {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 120px;
  animation: moveWidth 0.4s ease-out forwards;
}

.dirs-folder {
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.dirs-folder:hover {
  background-color: var(--dark-grey);
  color: white;
}

@keyframes moveWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
