.dirs-container {
  height: 88%;
  overflow: hidden;
  padding-top: 120px;
  animation: moveWidth 0.4s ease-out forwards;
  box-shadow: -10px -10px 5px -6px rgba(0, 0, 0, 0.05);
}

.dirs-folder {
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.dirs-folder > div:first-child {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding-right: 1rem;
}

.dirs-folder:hover {
  background-color: var(--dark-grey);
  color: white;
}

@keyframes moveWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
