.toggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.toggle span:first-child {
  transform-origin: 0% 0%;
}

.toggle span:nth-last-child(2) {
  /* transform-origin: 0% 100%; */
}

.toggle input:checked ~ span:nth-last-child(1) {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
}

.toggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: scale(0.2, 0.2);
  /* transform: rotate(-45deg) translate(-2px, -1px); */
  background: #232323;
}

.toggle input:checked ~ span:nth-last-child(3) {
  /* opacity: 0; */
  transform: rotate(45deg) translate(1px, 1px);
}
