.App {
  height: 100%;
  overflow: hidden;
  background-color: var(--light-primary-color);
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
