.dirs-folder {
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.goBack {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--light-primary-color);
}

.dirs-folder > div:first-child {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding-right: 1rem;
}

.dirs-folder:hover {
  background-color: var(--dark-primary-color);
  color: white;
}
