.tracks-container {
  padding: 0 5%;
  height: 100%;
}

.tracks-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tracks-container .header h1 {
  font-weight: 500;
  font-size: 2.5rem;
}

.grid-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  scrollbar-color: var(--dark-primary-color) var(--light-primary-color);
  scrollbar-width: thin;
}

.grid-container .tracks-grid {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.grid-container::-webkit-scrollbar-track {
  background-color: inherit;
}

.grid-container::-webkit-scrollbar {
  width: 4px;
  background-color: var(--light-primary-color);
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-primary-color);
  opacity: 0.9;
}

.tracks-grid td {
  border-bottom: 1px solid var(--accent-color);
  text-align: left;
}

.tracks-grid tbody tr {
  cursor: pointer;
}

.tracks-grid tbody tr:hover {
  background-color: var(--accent-color);
  opacity: 0.6;
}

.tracks-grid tr td:not(:first-child) {
  text-align: center;
}

.tracks-grid thead th:first-child {
  width: 30%;
}

.tracks-grid thead th:not(:last-child):not(:first-child) {
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  z-index: 1000;
}

.tracks-grid thead th.active {
  border-left: 1px solid var(--light-primary-color);
  border-right: 1px solid var(--light-primary-color);
  animation: sticky-thead 0.8s linear forwards;
}

.tracks-grid thead th:hover {
  transition: all 1.2s;
}

.animate {
  animation: fadein forwards cubic-bezier(1, -0.24, 0.56, 0.78);
}

.tracks-grid tbody tr td {
  padding: 20px;
}

.tracks-grid tbody tr:last-child {
  text-align: right;
}

.tracks-grid .action-play > span {
  display: inline-block;
  margin-left: 10px;
}

.tracks-grid .action-play:hover {
  cursor: pointer;
}

.active {
  font-weight: bold;
}

@keyframes sticky-thead {
  100% {
    background-color: var(--accent-color);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
