.modal-header {
  background-color: var(--light-grey);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.modal-header button {
  border: none;
  outline: none;
  background-color: inherit;
  margin-left: auto;
  cursor: pointer;
}

.modal-header button:active {
  outline: none;
}

.modal-content {
  padding: 1rem;
  height: 100%;
}

.modal-content h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.modal-content h2 {
  font-size: 1rem;
  font-weight: 200;
}

.modal-content button {
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: var(--dark-grey);
  padding: 4px;
  min-width: 200px;
}

.modal-upload {
  border: 3px dashed var(--light-grey);
  border-radius: 5px;
  height: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.modal-upload h2 {
  font-size: 1rem;
  padding: 0 10px;
}
