:root {
  --player-buton-size: 30px;
}

.playerButtons {
  white-space: nowrap;
  min-width: calc(5 * 1.33 * var(--player-buton-size));
  width: 20%;
}

.playerButtons button {
  border: 1px solid var(--dark-primary-color);
  outline: none;
  border-radius: 50%;
  height: var(--player-buton-size);
  width: var(--player-buton-size);
  margin-right: calc(var(--player-buton-size) / 3);
  cursor: pointer;
  background: transparent;
  color: var(--dark-primary-color);
  transition: all 0.4s;
}

.playerButtons button:hover {
  transform: scale(1.2);
  border: 1px solid var(--accent-color);
  background: var(--dark-primary-color);
  color: var(--accent-color);
}
