.player {
  align-items: center;
  background-color: var(--accent-color);
  display: flex;
  height: 10%;
  min-height: 10%;
  max-height: 10%;
  justify-content: center;
  transition: all 0.5s ease-out;
  position: relative;
  top: -10%;
  z-index: 4;
}

.hide {
  transform: translateY(90%);
}

.playerSlider {
  position: relative;
  width: 80%;
}

.playerSlider > h3 {
  position: absolute;
  left: 0;
  top: -35px;
  font-weight: 300;
}

.playerSlider > .time-start {
  position: absolute;
  left: 0;
  top: 35px;
}

.playerSlider > .time-stop {
  position: absolute;
  right: 0;
  top: 35px;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 16px 0;
  width: 100%;
}

.playerSlider input[type='range']:focus {
  outline: none;
}

.playerSlider input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--dark-primary-color);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.playerSlider input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.playerSlider input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--dark-primary-color);
  border-radius: 1.3px;
  border: 1.5px solid #010101;
}

.playerSlider input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
}
