.root {
  position: relative;
}

.root .setter {
  display: none;
}

.root:hover .setter {
  display: block;
}

.setter {
  position: absolute;
  color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.setter:hover {
  transform: scale(1.2);
  border: 1px solid var(--accent-color);
  background: var(--dark-primary-color);
  color: var(--accent-color);
}

.setter-up {
  top: -10px;
  right: -10px;
}

.setter-down {
  bottom: -10px;
  left: -10px;
}
