.add-track-container {
  border: 2px dashed #d3d3d3;
  border-radius: 8px;
  width: 20%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-track-container h1 {
  font-weight: 500;
  opacity: 0.2;
}

.add-track-container:hover h1 {
  opacity: 0.4;
}
