.the-button {
  border-radius: 25px;
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: white;
  font-weight: 500;
  height: 30px;
  padding: 7px 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}

.the-button:hover {
  background-color: var(--ultra-light-grey);
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.the-button span {
  margin-left: 5px;;
}