.the-button {
  border-radius: 25px;
  background-color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
  color: white;
  font-weight: 500;
  height: 30px;
  padding: 7px 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}

.the-button:hover {
  background-color: var(--light-primary-color);
  color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
}

.the-button span {
  margin-left: 5px;
}
