.panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.panel button {
  width: 30px;
  height: 30px;
  background: transparent;
  transition: all 0.4s ease-out;
  border-radius: 4px;
  margin-bottom: 10px;
}

.panel button:focus {
  outline: 0;
}

.panel button:hover {
  transform: scale(1.4);
}
