:root {
  --panel-item-size: 30px;
}

.panel {
  align-items: center;
  border-left-width: 0;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--dark-primary-color),
      var(--accent-color)
    )
    1 100%;
  border-right-width: 1px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100% + var(--player-height));
  padding: 5px;
  width: 40px;
}

.panel:hover {
  border-image: linear-gradient(
      to bottom,
      var(--accent-color),
      var(--dark-primary-color)
    )
    1 100%;
}

.panel button {
  width: var(--panel-item-size);
  height: var(--panel-item-size);
  color: var(--dark-primary-color);
  margin-bottom: calc(var(--panel-item-size) / 3);

  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(85deg, var(--accent-color), var(--dark-primary-color));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--light-primary-color) inset;
}

.panel button:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(85deg, var(--dark-primary-color), var(--accent-color));
}

.panel button:focus {
  outline: 0;
}
