.icon {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: transparent;
  transition: all 0.4s ease-out;
  border-radius: 4px;
}

.icon:focus {
  outline: 0;
}

.icon:hover {
  transform: scale(1.4);
}
