.icon {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.themePicker {
  position: fixed;
  top: 2px;
  left: 45px;
  display: flex;
  flex-direction: column;
  /* opacity: 0; */
  height: 50px;
  width: 30px;
  /* transition: all 0.4s all; */
}

.icon:hover .themePicker {
  /* opacity: 1; */
}

.theme {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}
